body {
  background-color: white;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foodienator {
  color: black;
  font-size: 33px;
  font-family: Poppins;
  font-weight: 800;
  word-wrap: break-word;
  text-align: center;
  /* Added */
  margin-top: 33px;
  /* Added */
}

.subText {
  color: black;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 300;
  word-wrap: break-word;
  text-align: center;
  /* Added */
  margin-top: 33px;
  /* Added */
}

.img-logo {
  height: 300px;
  width: 200px;
}

.authentication {
  display: flex;
  margin-top: 144px;
}

.signin {
  width: 180px;
  height: 60px;
  background: #cd1329;
  border: none;
  border-radius: 15px;
  text-align: center;
  color: white;
  font-size: 22px;
  font-family: Outfit;
  font-weight: 700;
  word-wrap: break-word;
}

.register {
  width: 180px;
  height: 60px;
  background: #ece8e8;
  border: none;
  border-radius: 15px;
  text-align: center;
  color: #202322;
  font-size: 22px;
  font-family: Outfit;
  font-weight: 700;
  word-wrap: break-word;
}

.register:hover {
  cursor: pointer;
}

.signin:hover {
  cursor: pointer;
}

#logo:hover {
  cursor: pointer;
}
